.face-snap-card {
    width: 35%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    img {
      width: 100%;
    }
    .btn {
      width: 20%;
      padding: .2rem;
      margin: 0 auto;
      cursor: pointer;
    }
  }